.button__wave {
  min-height: 60px;
  padding: 20px 35px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  background-color: #35b8be;
  background-image: url("/public/assets/svg/Button_Wave.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.button__wave:hover {
  background-color: #2faeb4;
}

.button__wave:active {
  outline: 0;
}

.button__wave--inactive {
  display: flex;
  align-items: center;
  min-height: 52px;
  padding-right: 45px;
  padding-left: 45px;
  font-size: 16px;
  background-color: transparent;
  border-color: rgba(97, 114, 131, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  cursor: pointer;
}
