@font-face {
  font-weight: 100;
  font-family: Inter;
  src: url("/public/assets/fonts/Inter-Thin.ttf");
}

@font-face {
  font-weight: 200;
  font-family: Inter;
  src: url("/public/assets/fonts/Inter-ExtraLight.ttf");
}

@font-face {
  font-weight: 300;
  font-family: Inter;
  src: url("/public/assets/fonts/Inter-Light.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Inter;
  src: url("/public/assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-weight: 500;
  font-family: Inter;
  src: url("/public/assets/fonts/Inter-Medium.ttf");
}

@font-face {
  font-weight: 600;
  font-family: Inter;
  src: url("/public/assets/fonts/Inter-SemiBold.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Inter;
  src: url("/public/assets/fonts/Inter-Bold.ttf");
}

@font-face {
  font-weight: 800;
  font-family: Inter;
  src: url("/public/assets/fonts/Inter-ExtraBold.ttf");
}

@font-face {
  font-weight: 900;
  font-family: Inter;
  src: url("/public/assets/fonts/Inter-Black.ttf");
}
