.hero {
  display: grid;
  grid-template: auto / min-content min-content;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding: 100px 3% 140px;
  column-gap: 1em;
  background-image: url("/public/assets/svg/BG_Shape.svg");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0%;
}

.hero__title {
  width: 10em;
  margin: 0;
  font-size: 3.7em;
  line-height: 60px;
  letter-spacing: -1.8px;
}

.hero__title--blue {
  color: #35b8be;
}

.hero__description {
  margin-bottom: 3em;
  color: #546285;
  font-size: 1.1em;
}

.hero-feedback {
  margin-top: 2em;
}

.hero-feedback__description {
  margin-top: 0.5em;
  color: #08090a;
}

.hero-feedback__description--blue {
  color: #35b8be;
}
