.logo {
  width: 40px;
}

.header {
  display: grid;
  grid-template: auto / 1fr;
  place-items: center;
}

.header-wrapper {
  display: grid;
  grid-template: auto / 1fr 1fr;
  padding: 1.5rem;
  column-gap: 13rem;
}

.header__link {
  padding: 0 16px;
  color: #28224b;
  font-size: 1em;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 200ms ease;
}

.header__link:hover {
  opacity: 1;
}

.header__btn {
  box-sizing: border-box;
  min-width: 55px;
  min-height: 55px;
  padding: 13px;
  background-color: #35b8be;
  background-image: url("/public/assets/svg/Button_Wave.svg");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.header__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  color: #35b8be;
  font-weight: 700;
  font-size: 13px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 7px 7px 25px 0 rgb(126 130 143 / 27%);
  transform: translate(-15px, -25px);
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__btn-container {
  display: flex;
  align-items: center;
}

.header-open {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 48px;
  color: #fff;
  font-size: 0.95em;
  background-color: #35b8be;
  background-image: url("/public/assets/svg/Banner_Wave.svg");
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: contain;
}

.header-open__text {
  color: hsla(0, 0%, 100%, 0.8);
}

.header-open__link {
  margin-left: 5px;
  color: #fff;
  text-decoration: none;
}
